.DS_Store
data/catalogs
data/figures
data/lcs
data/support
data/shape_models/ffi/*/K2*
notebooks/.*
notebooks/<ipython*
notebooks/lcs
kepler_workflow/.python-version
kepler_workflow/__pycache__
kepler_workflow/*.info
kepler_workflow/*.dat
logs/
